:root {
    --blue: #8CA9FF;
    --lightblue: #AAC4F5;
    --cream: #FFF2C6;
    --lightcream: #FFF8DE;
}
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sidebar {
    padding: 20px;
    background-color: var(--blue);
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px;
    border-radius: 10px;
}
.sidebar ul li:hover {
    background-color: var(--lightblue);
}
.main {
    padding: 20px 50px;
    background-color: var(--cream);
}

.list-item {
    display: grid;
    grid-template-columns: 30px 1fr 70px 30px;
    grid-template-rows: 50px 50px;;
}
.list-item input {
    grid-row: 1 / 3;
}
.list-item .description {
    grid-row: 2 / 3;
}